.tasks-container {
    width: 500 px;
    min-height: 65px;
    background-color: white;
    margin: 5px 0;
    padding: 8px 15px 8px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 7px;
    border: 1px solid black;
    cursor: pointer;
}

.tasks-container.completed {
    text-decoration: line-through;
    background-color: #81b29a;
}

.tasks-text {
    width: 100%;
    height: 100%;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    overflow-wrap: anywhere;
}

.tasks-icon {
    height: 25px;
    width: 25px;
    margin: 5px;
}
